---
import Container from "@components/container.astro";
import Features from "@components/features.astro";
import Hero from "@components/hero.astro";
import Testimonial from "@components/testimonial.astro";
import Layout from "@layouts/Layout.astro";
import BentoFeatures from "@components/bentoFeatures.astro";
import FullpageLayout from "@layouts/FullpageLayout.astro";
import BlogLayout from "@layouts/BlogLayout.astro";
import Button from "@components/ui/button.astro";
---

<FullpageLayout title="What’s your name?" subtitle="Hey there, guide!">
  <form
    data-netlify="true"
    method="POST"
    id="sign-up"
    class="needs-validation"
    action="/signed-up"
    name="sign-up">
    <input
      type="checkbox"
      class="hidden"
      style="display:none"
      name="botcheck"
    />
    <!-- Referral code input field -->
    <input id="referral" type="hidden" name="referral" />
    <div class="mb-4">
      <label for="name">First Name</label>
      <input
        type="text"
        placeholder="First Name"
        required
        class="w-full px-3 py-2 border-2 placeholder:text-gray-500 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        name="name"
      />
      <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
        Please provide your first name.
      </div>
    </div>
    <div class="mb-4">
      <label for="surname">Surname</label>
      <input
        type="text"
        placeholder="Surname"
        required
        class="w-full px-3 py-2 border-2 placeholder:text-gray-500 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
        name="surname"
      />
      <div class="empty-feedback invalid-feedback text-red-400 text-sm mt-1">
        Please provide your first name.
      </div>
    </div>
    <div class="mb-4">
      <label for="email_address">Email Address</label><input
        id="email_address"
        type="email"
        placeholder="Email Address"
        name="email"
        required
        class="w-full px-3 py-2 border-2 placeholder:text-gray-500 rounded-md outline-none focus:ring-4 border-gray-300 focus:border-gray-600 ring-gray-100"
      />
      <div class="empty-feedback text-red-400 text-sm mt-1">
        Please provide your email address.
      </div>
      <div class="invalid-feedback text-red-400 text-sm mt-1">
        Please provide a valid email address.
      </div>
    </div>

    <!-- Put the button in the slot named Footer -->
  </form>
  <Button slot="footer" type="submit" form="sign-up">Sign Up</Button>
  <a slot="footer" href="/sign-up" class="mt-1
   underline"
    >Already have an account?</a
  >
</FullpageLayout>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #dc3545;
  }
</style>

<script is:inline>
  const form = document.getElementById("sign-up");
  const result = document.getElementById("result");

  // Get the referrer code from the URL if it exists
  const urlParams = new URLSearchParams(window.location.search);
  const referralCode = urlParams.get("referral");

  // Set the referral code in the hidden input field
  document.getElementById("referral").value = referralCode;

  form.addEventListener("submit", function (e) {
    form.classList.add("was-validated");
    if (!form.checkValidity()) {
      form.querySelectorAll(":invalid")[0].focus();
      return;
    }
  });
</script>
