---
export const prerender = false;

import Container from "@components/container.astro";
import Layout from "@layouts/Layout.astro";
import Hero from "@components/hero.astro";
import TourAgencies from "@components/tourAgencies.astro";

const { country } = Astro.params;

const titleCaseCountry = country.charAt(0).toUpperCase() + country.slice(1);
---

<Layout title={`Guide your way in ${titleCaseCountry}`}>
  <Container>
    <Hero
      title={`Guide your way in ${titleCaseCountry}.`}
      subtitle={`Get gigs from local tour companies in ${titleCaseCountry}. You choose the jobs you want, the hours you want, and what you want to do.`}
      ctaText="Sign Up Now – It’s Free"
      secondaryCtaText="Learn How It Works"
    />
    <h2 class="text-center text-slate-500">
      Work with the best agencies around
    </h2>
    <TourAgencies place={country} />
  </Container>
</Layout>
