---
import { getSlug } from "@utils/all.ts";
import { getCollection } from "astro:content";

interface Props {
  place: string;
  searchLive?: boolean;
}

interface AgencyType {
  name: string;
  city: string | null | undefined;
}

const { place, searchLive = true } = Astro.props;

export const getData = async (
  place: string,
  searchLive = true
): Promise<AgencyType[]> => {
  if (!searchLive) {
    const agencies = await getCollection("agency", ({ data }) => {
      return (
        data.properties["addr:city"] &&
        getSlug(data.properties["addr:city"]) === getSlug(place)
      );
    });

    return agencies.map((agency) => {
      return {
        name: agency.data.properties["name:en"] ?? agency.data.properties.name,
        city: agency.data.properties["addr:city"],
      };
    });
  }

  const base_url = `https://guidescout.net`;
  const full_url = `${base_url}/api/tourAgencies?place=${place}`;

  try {
    const response = await fetch(full_url);
    const agencies = await response.json();

    // Create a set to remove duplicates by name
    const uniqueAgencies = new Set(
      agencies?.results?.map((agency) => {
        return {
          name: agency.tags["name:en"] ?? agency.tags.name,
          city: agency.tags["addr:city"],
        };
      })
    );

    return Array.from(uniqueAgencies) as AgencyType[];
  } catch (error) {
    console.error("Failed to fetch agencies:", error);
    return [];
  }
};

const agencies = await getData(place, searchLive);
---

<div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
  {
    agencies?.length > 0 ? (
      agencies.map((agency) => (
        <div class="gap-4 items-start">
          <h3 class="text-xl font-bold">
            <a href={`/companies/${getSlug(agency.name, agency.city)}`}>
              {agency.name}
            </a>
          </h3>
        </div>
      ))
    ) : (
      <p class="text-slate-500">
        We're coming soon. Please check back in the future for guiding
        opportunities in {place}.
      </p>
    )
  }
</div>
