---
import Container from "@components/container.astro";
import { getFormattedDate } from "@utils/all";
import Layout from "./Layout.astro";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";

const { title, subtitle } = Astro.props;
---

<Layout title={title} showNav={false}>
  <slot name="head" slot="head" />

  <Container>
    <!-- 100% dvh -->
    <div class="flex flex-col h-[100svh] overflow-y-auto">
      <!-- Header -->
      <header class="p-4">
        <div class="mt-6">
          <p class="text-3xl text-slate-500">{subtitle}</p>
          <h1 class="text-5xl font-bold lg:tracking-tight">
            {title}
          </h1>
        </div>
      </header>

      <!-- Main Content -->
      <main class="flex-1 p-4">
        <div class="prose prose-lg">
          <slot />
        </div>
      </main>

      <!-- Footer (Buttons) -->
      <footer class="p-4 flex flex-col
      gap-1">
        <slot name="footer" />
      </footer>
    </div>
  </Container>
</Layout>
